<mat-toolbar class="mat-elevation-z2">
  <img src="./assets/logo.png" height="50" alt="logo" />

  <span class="fxFlex"></span>
  <ngssm-caches-display-button></ngssm-caches-display-button>
</mat-toolbar>

<mat-card class="flex-column-stretch custom-element-demo">
  <mat-card-header>
    <mat-card-title>
      Demo of the dynamic loading of custom elements
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex-row-stretch fxFlex">
    <mat-card class="flex-column-stretch with-margin-right-12 selector-container">
      <mat-form-field>
        <mat-label>Select an element to display</mat-label>
        <mat-select [ngModel]="selectedElementName()" (selectionChange)="selectedElementName.set($event.value)">
          <mat-option *ngFor="let elementName of elementNames" [value]="elementName">
            {{elementName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <mat-card class="flex-column-stretch fxFlex">
      <ngssm-element [name]="selectedElementName()" class="fxFlex"></ngssm-element>
    </mat-card>
  </mat-card-content>
</mat-card>

<mat-card class="flex-column-stretch custom-element-demo">
  <mat-card-header>
    <mat-card-title>
      Test element input data
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="flex-row-stretch fxFlex">
    <mat-card class="flex-column-stretch with-margin-right-12 selector-container">
      <mat-form-field>
        <mat-label>Set counter value</mat-label>
        <input matInput type="number" [formControl]="counterControl">
      </mat-form-field>
    </mat-card>
    <mat-card class="flex-column-stretch fxFlex">
      <ngssm-element [name]="'ngssm-element-simple'" class="fxFlex"
        [data]="data()"></ngssm-element>
    </mat-card>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>